[submodule "libs/android_world"]
	path = libs/android_world
	url = git@github.com:alexzmz/android_world.git
[submodule "libs/skvm"]
	path = libs/skvm
	url = git@github.com:alexzmz/SkVM.git
[submodule "libs/ms-swift"]
	path = libs/ms-swift
	url = git@github.com:alexzmz/ms-swift.git
