*.zip
*.tar
*.gz

# submodule
Android/
Android/Sdk/
figures/outputs/*
results/*
.codex*
deliverables/*

# runtime folders
__pycache__/
build/
/results/
src1/pmtskill_v2/runtime/*
config.local*
# log
*log*
